#!/bin/bash -e

{{ if eq .chezmoi.os "linux" }}

sudo locale-gen "en_US.UTF-8"

{{ end }}

if [ ! -d ~/.local/share/tmux/plugins/tpm ]; then
    git clone https://github.com/tmux-plugins/tpm ~/.local/share/tmux/plugins/tpm
fi
if [ ! -d ~/.local/share/zinit/zinit.git ]; then
    git clone https://github.com/zdharma-continuum/zinit.git ~/.local/share/zinit/zinit.git
fi
if [ ! -d ~/.config/nvim ]; then
    git clone https://github.com/NvChad/starter ~/.config/nvim
fi

mkdir -p ~/.config/zsh/completions

# if profile file does not exist, create an empty one
if [ ! -f ~/.config/zsh/profile ]; then
    touch ~/.config/zsh/profile
fi

# if mise is not installed, install it
if ! command -v mise &> /dev/null; then
    curl https://mise.run | sh
    touch ~/.config/mise/config.local.toml
fi

# if zsh is not the default shell, remind user to change it
if [ "$SHELL" != "$(which zsh)" ]; then
    echo 'run chsh -s "$(which zsh)" to change your default shell to zsh after applying dotfiles.'
fi

if [ "$ZDOTDIR" != "$HOME/.config/zsh" ]; then
    echo 'run export ZDOTDIR="$HOME/.config/zsh" >> /etc/zshenv'
    echo 'to set ZDOTDIR to ~/.config/zsh'
fi
