fpath+=($ZDOTDIR/completions)
fpath+=($BREW_PATH/../share/zsh/site-functions)
source $ZDOTDIR/zinit

# CDR settings
if [[ -n $(echo ${^fpath}/chpwd_recent_dirs(N)) && -n $(echo ${^fpath}/cdr(N)) ]]; then
    autoload -Uz chpwd_recent_dirs cdr add-zsh-hook
    add-zsh-hook chpwd chpwd_recent_dirs
    zstyle ':completion:*' recent-dirs-insert both
    zstyle ':chpwd:*' recent-dirs-default true
    zstyle ':chpwd:*' recent-dirs-max 1000
    zstyle ':chpwd:*' recent-dirs-file "$HOME/.cache/chpwd-recent-dirs"
fi

# completion
autoload -Uz compinit && compinit -C
zstyle ':completion:*' completer _complete _correct
zstyle ':completion:*' menu select interactive
zstyle ':completion:*:rm:*' menu false
zstyle ':completion:*:default' list-colors
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.cache/zsh

ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20
ZSH_AUTOSUGGEST_MANUAL_REBIND=true
ZSH_AUTOSUGGEST_STRATEGY=(history)
ZSH_HIGHLIGHT_MAXLENGTH=256

# History
export HISTSIZE=1000
export SAVEHIST=100000
export HISTFILE=$ZDOTDIR/.zsh_history
setopt hist_ignore_all_dups
setopt hist_ignore_space
setopt hist_reduce_blanks
setopt correct
setopt share_history

# Theme
source $ZDOTDIR/git_ps1.zsh
PS1='[%B%F{cyan}%n%f%b@%m %B%F{green}%~%f%b %F{red}${_git_prompt_info}%f]
\$ '

# Alias
alias vim='nvim'
alias fzf='fzf-tmux -p 80% --border'
alias ghub='(){ hub browse $(ghq list | fzf --reverse | cut -d "/" -f2,3) }'
alias gi='(){ cd $(ghq root)/$(ghq list | fzf --reverse) }'
alias gsw='(){gb | fzf --reverse | cut -b 3- | xargs git switch}'
alias pr='(){ gh pr view -w }'

{{ if eq .chezmoi.os "darwin" }}

export LSCOLORS=Gxfxcxdxbxegedabagacad
alias ls='ls -G'

{{ else if eq .chezmoi.os "linux"}}

eval $(dircolors $XDG_CONFIG_HOME/dircolors/colorrc)
alias ls='ls --color=auto'

{{ end }}

alias ff='find_in_files'

{{ if eq .chezmoi.os "darwin" }}

eval $(/opt/homebrew/bin/brew shellenv)
# source $XDG_DATA_HOME/iterm2/shell_integration.zsh

{{ else if eq .chezmoi.os "linux" }}

test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

{{ end }}

eval "$(~/.local/bin/mise activate zsh)"

source $ZDOTDIR/functions
source $ZDOTDIR/profile
