export LC_ALL=en_US.UTF-8
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_STATE_HOME="$HOME/.local/state"
export EDITOR="nvim"
typeset -U path

{{ if eq .chezmoi.os "darwin" }}
export XDG_RUNTIME_DIR="$TMPDIR"
{{ else if eq .chezmoi.os "linux" }}
# if snap is available
if command -v snap &> /dev/null; then
    path=("/snap/bin" $path)
fi

{{ end }}

export ZDOTDIR="$XDG_CONFIG_HOME/zsh"


